* {
  font-family: 'centur';
  box-sizing: border-box;
}
body {
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.transition(@value) {
    -webkit-transition: @value;
    -moz-transition: @value;
    -o-transition: @value;
    transition: @value;
}

#container {
  width: 100%;
  height: 100%;
  background:#cccccc;
}

.center-container {
  margin: auto;
  &.restrict {
    max-width: 980px;
  }
  &.full-height {
    height: 100%;
  }
}

.clear {
  clear: both;
}

.inner {
  position: relative;
  overflow: hidden;
  width: inherit;
  height: inherit;
}

.outer {
  position: relative;
  width: 100%;
  height: 100%;
}

.zindex-layer1 { z-index: 9;}
.zindex-layer2 { z-index: 11;}
.zindex-layer3 { z-index: 12;}
.zindex-layer4 { z-index: 13;}
.zindex-layer5 { z-index: 14;}
.zindex-layer6 { z-index: 15;}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}


#main-slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  

  .slider-container {
    width: 100%;
    height: 100%;
    position: absolute;

    .transition(all 0.3s ease-in-out);

    .slide {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      position: absolute;    
      top: 0px;
      left: 0px;
      
      .capture {
        font-size: 2.8em;
        font-weight: bold;
        color: #ffffff;
        font-family: time-new-romans;

        position: absolute;
        left: 100%;
        width:600px;
        top: 100%;
        margin-left: -600px;
        margin-top:-160px;
      } 
    }
  }
  .slider-nav {
    .arrow {
      width: 48px;
      height: 48px;
      position: absolute;
      .zindex-layer1;
      opacity: 0.4;
      cursor: pointer;
      .transition(all 0.3s ease);
      &:hover {
        opacity: 1;
      }
      &.prev {
        background-image: url(../images/icons/slider-left-arrow48.png);
        background-size: cover;
        top: 50%;
        left: 20px;
        margin-top: 33px;
      }
      &.next {
        background-image: url(../images/icons/slider-right-arrow48.png);
        background-size: cover;
        left: 100%;
        top: 50%;
        margin-left: -68px;
        margin-top: 33px;
      }
    }
  }

}

#header {
  height: 90px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  .zindex-layer5;

  #logo {
    width: 170px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: -85px;
    background-image: url(../images/logover2.png);
    .zindex-layer5;
  }

  #main-header {
    position: relative;
    width: 100%;
    height: 50%;
    background-color: #ffffff;
    box-shadow: 0 -2px 4px #cfcfcf;

    .nav {
      width: 50%;
      float: left;
      height: 100%;
      color: #787878;
      ul {
        height: 100%;
      }
      li {
        width: 120px;
        font-size: 0.7rem;
        line-height: 45px;
        text-align: center;
        display: inline-block;
        position: relative;
        font-family: 'bodon-ibt';
        a {
          font-weight: 400;
          width: 100%;
          height: 100%;
          display: inline-block;
        }
      }
    }
    .mobile-nav {
      display: none;
      .switch-btn {
        width: 32px;
        height: 32px;
        position: absolute;
        left: 100%;
        top: 7px;
        margin-left: -55px;
        background-image: url(../images/icons/menu-64.png);
        background-size: cover;
        opacity: 0.7;
        cursor: pointer;
      }

    }
    .left-nav {
      padding-right: 85px;
      li {
        float: right;
        a {.transition(all 0.3s ease);}
        &:hover {
          a {
            color: #e1bc4d;
          }
        }
      }
    }
    .right-nav {
      padding-left: 85px;
      li {
        float: left;
        a{.transition(all 0.3s ease);}
        &:hover {
          a {
            color: #e1bc4d;
          }
        }
      }
    }
  }
  #sub-header {
    position: relative;
    height: 50%;
    width: 100%;
    line-height: 45px;
    background-color: #dfdfdf;

    .contact {
      float: left;
      width: auto;
      height: 100%;
      &.contact-phone {
        color: #1368b7;
        font-size: 0.8em;
        padding-left: 32px;
        background: url(../images/icons/phone24.png);
        background-repeat: no-repeat;
        background-position: 6px 9px;
      }
      &.contact-social {
        margin-left: 12px;
        a {
          width: 24px;
          height: 24px;
          margin: 11px 0 0 6px;
          display: inline-block;
          &.facebook {
            background: url(../images/icons/fb-32.png);
            background-size: cover;
            opacity: 0.7;
            &:hover {
              background: url(../images/icons/fb-32hover.png);
              background-size: cover;
              opacity: 1;
            }
          }
          &.twitter {
            background: url(../images/icons/tw-32.png);
            background-size: cover;
            opacity: 0.7;            
            &:hover {
              background: url(../images/icons/tw-32hover.png);
              background-size: cover;
              opacity: 1;
            }
          }
        }

      }
    }

    .addition-nav {
      width: auto;
      height: 100%;
      float: right;
      li {
        float: left;
        padding: 0 8px ;
        font-size: 0.8em;
        a {
          color: #878787;
          .transition(all 0.2s ease);
          &:hover {
            color: #232323;
          }
        }
      }
    }
    .lang-sel {
      float: right;
      width: auto;
      height: 100%;
      padding: 0 20px 0 8px;
      margin-right: 10px;
      cursor: pointer;
      position: relative;

      &:hover, &.active {
        background-color: #cfcfcf;
        background-color: rgba( 111, 111, 111, 0.2);

        .selector {
          visibility: visible;
          opacity: 1;
        }
      }

      .selector {
        width: 100%;
        height: auto;
        top: 100%;
        left: 0px;
        background-color: #cfcfcf;
        background-color: rgba( 255,255,255,0.9);
        position: absolute;
        .zindex-layer5;
        text-align: center;
        visibility: hidden;
        opacity: 0;
        .transition(all 0.3s ease);
        li {
          a {
            color: #333333;
          }
          &:hover {
            background-color: #ffffff;
          }
        }
      }

      &:after {
        width: 0px;
        height: 0px;
        content: "";
        border-style: solid;
        border-width: 4px 4px 0px 4px;
        border-color: #333333 transparent;
        position: absolute;
        margin-left: 26px;
        margin-top: -21px;

      }
    }
  }
}

#mobile-nav-content {
  width: 180px;
  height: 100%;
  position: fixed;
  left: 100%;
  
  .zindex-layer4;
  text-align: right;
  padding-top: 100px;
  background-color: #ffffff;
  background-color: rgba(255,255,255,1);
  .transition(all 0.5s ease);

  &.active {
    margin-left: -180px;
  }
  li {
    font-size: 0.9em;
    line-height: 1.4em;
    position: relative;
    &:hover {
      background-color: #ffffff;
      a {
        color: #e1bc4d;
      }
    }

    a {
      padding: 8px 12px;
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }
  .add-nav {
    display: none;
    width: 100%;
    border-top: 1px solid #cfcfcf;
  }
}

#available-calendar-widget {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  .zindex-layer3;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.6);
  padding-top: 100px;
  padding-bottom: 10px;
  visibility: hidden;
  opacity: 0;
  .transition(all 0.5s ease);

  &.active {
    visibility: visible;
    opacity: 1;
  }

  .calendar-wrap {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #ffffff;
    border: 8px solid #ffffff;
    box-shadow: 0 0 4px #cccccc;

    .close-btn {
      width: 32px;
      height: 32px;
      box-shadow: 0 0 2px #cecece;
      border-radius: 16px;
      padding: 5px 9px;
      position: absolute;
      right: 8px;
      bottom: 8px;
      background-color: #ffffff;
      cursor: pointer;
      .zindex-layer3;
      i {
        font-size: 20px;
        color: #333333;
      }
      &:hover {
        background: #333333;
        i {
          color: #ffffff;
        }
      }
    }

    .calendar-month-picker {
      width: 100%;
      height: 10%;
      .month {
        width: 14.28%;
        height: 100%;
        background-color: #dfdfdf;
        float: left;
        position: relative;
        cursor: pointer;
        .transition(all 0.2s ease);
        &:hover {
          background-color: #eeeeee;
        }

        &.active {
          background-color: #fefefe;
          .full {
            .name {       
              color: #1E88E5;
            }
          }
        }
        .full, .short {
          padding-top: 10%;
          text-align: center; 
          height: 100%;

          .name {
            width: 100%;
            height: 40%;
            line-height: 100%;
            font-size: 1em;
            color: #555555;
          }
          .year {
            font-size: 0.8em;
            color: #666666;
          }
        }
        .short {
          display: none;
        }
      }
    }
    .calendar-date-title {
      width: 100%;
      height: 30px;
      position: absolute;
      top: 10%;
      border-bottom: 1px dashed #cecece;
      .day {
        width: 14.28%;
        height: 100%;
        text-align: center;
        float: left;
        line-height: 28px;
        position: relative;
        .short {
          display: none;
        }
      }
    }
    .calendar-days-wrap {
      width: 100%;
      height: 90%;
      padding-top: 30px;
      position: relative;
      border-left: 1px solid #dedede;
      border-right: 1px solid #dedede;
      .day {
        width: 14.28%;
        height: 16.66%;
        background: #FFFFFF;
        border-bottom: 1px solid #cecece;
        border-right: 1px solid #cecece;
        float: left;
        margin-top: 1px;
        position: relative;

        .cont {
          height: 100%;
          padding-top: 28px;
          cursor: pointer;
        
          .price {
            color: #333333;
          }
          &:hover {
            .price {
              color: #1565C0;
            }
          }
          .info {
            width: 100%;
            height: 20px;
            text-align: center;
            font-size: 0.9em;
            span {
              padding-left: 3px;
            }
            .unit {
              &.short {
                display: none;
              }
            }
            &.avai-rooms {
              &.no-room {
                color: #F44336;
              }
              color: #4CAF50;
              i {
                display: inline;
              }
            }
          }
        }

        .num {
          position: absolute;
          top: 0;
          left: 0;
          width: 24px;
          height: 24px;
          font-size: 0.8em;
          color: #565656;
          text-align: center;
          line-height: 24px;
          border-right: 1px solid #eeeeee;
          border-bottom: 1px solid #eeeeee;
        }

        .note {
          padding: 8px 15px;
          line-height: 50%;
          span {
            margin-left: 3px;
          }
        }

        &:nth-child(7n) {
          border-right: none;
        }
      }
    }
  }
}

#booking-widget {
  .wg-btn {
    width: 150px;
    height: 40px;
    padding: 10px 40px 10px 12px;
    position: fixed;
    right: 10px;
    bottom: 15px;
    .zindex-layer2;
    background-color: #0a1d3b;
    background-color: rgba(10,29,59, 0.8);
    color: #ffffff;
    font-size: 1em;
    background-image: url(../images/icons/calendar-48.png);
    background-position: 110px 8px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    cursor: pointer;
    opacity: 0.9;
    &:hover {
      opacity: 1;
      text-shadow: 0 0 1px #ffffff;
    }
  }

  .booking-form {
    width: 250px;
    height: 100%;
    position: fixed;
    right: -250px;
    top: 0px;
    .zindex-layer2;
    background-color: #002c41;
    padding: 20px;
    padding-top: 120px;
    .transition(all 0.6s ease-out);

    &.active {
      right: 0px;
    }

    .til {
      color: #ae8a58;
      font-size: 1.1em;
    }
    .des {
      color: #a49894;
      font-size: 0.7em;
    }
    .input-wrap {
      width: 100%;
      margin-top: 20px;

      .label {
        color: #ffffff;
        font-size: 0.9em;
        line-height: 20px;
        margin-bottom: 4px;
      }

      input {
        width: 100%;
        padding: 8px;
        border: 2px solid #526873;
        background: transparent;
        color: #a4a4a4;

        &[type="date"] {
          background-image: url(../images/icons/calendar-48.png);
          background-size: 16px 16px;
          background-position: 180px 8px;
          background-repeat: no-repeat;
        }

        &[type="submit"] {
          color: #ffffff;
          background-color: #ae8a58;
          border: none;
          outline: none;
          padding: 12px 0px;
        }
      }
      select {
        width: 100%;
        display: inline-block;
        padding: 15px 10px;
        line-height: 30px;
        height: 34px;
        border-radius: 0px;
        color: #ffffff;
        background: transparent;
        border: 2px solid #526873;
      }


      &.full {
        width: 100%;  
      }
      &.haft {
        width: 50%;
        float: left;

        &.left {
          padding-right: 8px;
        }
        &.right {
          padding-left: 8px;
        }
      }
    }

    .close-btn {
      width: 32px;
      height: 32px;
      margin: auto;
      position: relative;
      border-radius: 16px;
      background-image: url(../images/icons/close-32.png);
      background-size: cover;
      background-repeat: no-repeat;
      cursor: pointer;
      margin-top: 8px;
    }
  }
}

#page-info {
  position: fixed;
  max-height: 300px;
  max-width: 400px;
  bottom: 20px;
  left: 20px;
  background-color: #eeeeee;
  background-color: rgba(255, 255, 255, 0.8);
  color: #111111;
  .zindex-layer1;
  padding: 12px;
  h2 {
    font-size: 1.2em;
    line-height: 1.3rem;
    padding: 8px 0;
  }
  p {
    font-size: 0.9em;
    padding: 2px 0;
    line-height: 1.em;
  }
}

#footer {
  
}

//plugins 
.mCSB_inside {
  .mCSB_container {margin-right: 0px !important}
}
.mCSB_draggerContainer {
  .mCSB_dragger {
    -webkit-transition: height 0.1s ease-in-out;
    -moz-transition: height 0.1s ease-in-out;
    -o-transition: height 0.1s ease-in-out;
    -ms-transition: height 0.1s ease-in-out;
    transition: height 0.1s ease-in-out;
  }  
}