#booking-steps-nav
	div(class=(menuIndex === 0)? "step active" : "step") 
		.num 1 
		.name AVAILABLE
	div(class=(menuIndex === 1)? "step active" : "step") 
		.num 2 
		.name ROOMS
	.step.done 
		.num  
		.name RESERVATION
	div(class=(menuIndex === 3)? "step active" : "step") 
		.num 4 
		.name DETAILS
	div(class=(menuIndex === 4)? "step active" : "step") 
		.num 5
		.name CONFIRMATION
