#booking-select-room-package
	.a-room
		.room-title
			.name Double Rooms
			.package-title Packages
			.calendar-head
		.room-packages
			.room-photo(style="background-image: url(images/upload/rooms/room1.jpg)")
			.package.selected
				.package-info
					.info-wrap
						.name Bed and Breakfast
						ul.specs
							li 
								i.fa.fa-cutlery
								span Breakfast
							li 
								i.fa.fa-bed
								span Basic bed
					.price
						.value 199.99 $
						.unit USD
						.unit 1 night
						.unit 1 room
					.check
						.book-field
							input(type="number")
						i.fa.fa-check-circle-o.not-checked
						i.fa.fa-check-circle.checked
				.calendar
				.clear
			.package
				.package-info
					.info-wrap
						.name Free travel
						ul.specs
							li 
								i.fa.fa-cutlery
								span Buffet
							li
								i.fa.fa-bicycle
								span Free Bicycle
							li 
								i.fa.fa-bed
								span Basic bed
					.price
						.value 199.99 $
						.unit USD
						.unit 1 night
						.unit 1 room
					.check
						.book-field
							input(type="number", disabled)
						i.fa.fa-check-circle-o.not-checked
						i.fa.fa-check-circle.checked
				.calendar
				.clear
			.package
				.package-info
					.info-wrap
						.name More beds
						ul.specs
							li 
								i.fa.fa-bed
								span Basic bed
							li 
								i.fa.fa-bed
								span Additional bed (1) 
					.price
						.value 199.99 $
						.unit USD
						.unit 1 night
						.unit 1 room
					.check
						.book-field
							input(type="number", disabled)
						i.fa.fa-check-circle-o.not-checked
						i.fa.fa-check-circle.checked
				.calendar
				.clear
			.clear
	.a-room
		.room-title
			.name Single Rooms
			.package-title Packages
			.calendar-head
		.room-packages
			.room-photo(style="background-image: url(images/upload/rooms/room3.jpg)")
			.package.selected
				.package-info
					.info-wrap
						.name Bed and Breakfast
						ul.specs
							li 
								i.fa.fa-cutlery
								span Breakfast
							li 
								i.fa.fa-bed
								span Basic bed
					.price
						.value 199.99 $
						.unit USD
						.unit 1 night
						.unit 1 room
					.check
						.book-field
							input(type="number")
						i.fa.fa-check-circle-o.not-checked
						i.fa.fa-check-circle.checked
				.calendar
				.clear
			.package
				.package-info
					.info-wrap
						.name Free travel
						ul.specs
							li 
								i.fa.fa-cutlery
								span Buffet
							li
								i.fa.fa-bicycle
								span Free Bicycle
							li 
								i.fa.fa-bed
								span Basic bed
					.price
						.value 199.99 $
						.unit USD
						.unit 1 night
						.unit 1 room
					.check
						.book-field
							input(type="number", disabled)
						i.fa.fa-check-circle-o.not-checked
						i.fa.fa-check-circle.checked
				.calendar
				.clear
			.package
				.package-info
					.info-wrap
						.name More beds
						ul.specs
							li 
								i.fa.fa-bed
								span Basic bed
							li 
								i.fa.fa-bed
								span Additional bed (1) 
					.price
						.value 199.99 $
						.unit USD
						.unit 1 night
						.unit 1 room
					.check
						.book-field
							input(type="number", disabled)
						i.fa.fa-check-circle-o.not-checked
						i.fa.fa-check-circle.checked
				.calendar
				.clear
			.clear
	.a-room
		.room-title
			.name Beddy Rooms
			.package-title Packages
			.calendar-head
		.room-packages
			.room-photo(style="background-image: url(images/upload/rooms/room2.jpg)")
			.package.selected
				.package-info
					.info-wrap
						.name Bed and Breakfast
						ul.specs
							li 
								i.fa.fa-cutlery
								span Breakfast
							li 
								i.fa.fa-bed
								span Basic bed
					.price
						.value 199.99 $
						.unit USD
						.unit 1 night
						.unit 1 room
					.check
						.book-field
							input(type="number")
						i.fa.fa-check-circle-o.not-checked
						i.fa.fa-check-circle.checked
				.calendar
				.clear
			.package
				.package-info
					.info-wrap
						.name Free travel
						ul.specs
							li 
								i.fa.fa-cutlery
								span Buffet
							li
								i.fa.fa-bicycle
								span Free Bicycle
							li 
								i.fa.fa-bed
								span Basic bed
					.price
						.value 199.99 $
						.unit USD
						.unit 1 night
						.unit 1 room
					.check
						.book-field
							input(type="number", disabled)
						i.fa.fa-check-circle-o.not-checked
						i.fa.fa-check-circle.checked
				.calendar
				.clear
			.package
				.package-info
					.info-wrap
						.name More beds
						ul.specs
							li 
								i.fa.fa-bed
								span Basic bed
							li 
								i.fa.fa-bed
								span Additional bed (1) 
					.price
						.value 199.99 $
						.unit USD
						.unit 1 night
						.unit 1 room
					.check
						.book-field
							input(type="number", disabled)
						i.fa.fa-check-circle-o.not-checked
						i.fa.fa-check-circle.checked
				.calendar
				.clear
			.clear

