footer#footer 
  a(href="#", title="Book now")
    img(src="images/buttons/book-now.png", alt="Book now")

  .social-links
    a(href="#", title="facebook")
      img(src="images/icons/fb32.png", alt="twitter link")
    a(href="#", title="instagram")
      img(src="images/icons/ins32.png", alt="twitter link")
    a(href="#", title="pinterest")
      img(src="images/icons/pin32.png", alt="twitter link")
    a(href="#", title="google plus")
      img(src="images/icons/gplus32.png", alt="twitter link")
    a(href="#", title="twitter")
      img(src="images/icons/twitter32.png", alt="twitter link")
