header#header
  +img("Calm Seas hotel", "images/logo.png")(class="logo")
  nav
    +nav([{title: 'HOTEL', href: 'index.html'}, {title: 'ABOUT US', href: 'index.html'}, {title: 'ROOM TYPES', href: 'index.html'}, {title: 'RESTAURANT', href: 'index.html'}, {title: 'COFFEE', href: 'index.html'}, {title: 'AMENITIES', href: 'index.html'}, {title: 'SPECIAL OFFERS', href: 'index.html'}, {title: 'LOCATION', href: 'index.html'}, {title: 'GALLERY', href: 'index.html'}, {title: 'CONTACT', href: 'index.html'}], 'menu')