header#header
  +img("Calm Seas hotel", "images/logo.png")(class="logo")
  nav.main-nav
    +nav([{title: 'HOTEL', href: 'index.html'}, {title: 'ABOUT US', href: 'index.html'}, {title: 'ROOM TYPES', href: 'index.html'}, {title: 'RESTAURANT', href: 'index.html'}, {title: 'COFFEE', href: 'index.html'}, {title: 'AMENITIES', href: 'index.html'}, {title: 'SPECIAL OFFERS', href: 'index.html'}, {title: 'LOCATION', href: 'index.html'}, {title: 'GALLERY', href: 'index.html'}, {title: 'CONTACT', href: 'index.html'}], 'menu')
  a.booknow(href="#", title="Book now")
    img(src="images/buttons/book-now.png", alt="Book now", style="margin-top:12px")
  .social-links
    a(href="#", title="facebook")
      img(src="images/icons/fb32.png", alt="twitter link")
    a(href="#", title="instagram")
      img(src="images/icons/ins32.png", alt="twitter link")
    a(href="#", title="pinterest")
      img(src="images/icons/pin32.png", alt="twitter link")
    a(href="#", title="google plus")
      img(src="images/icons/gplus32.png", alt="twitter link")
    a(href="#", title="twitter")
      img(src="images/icons/twitter32.png", alt="twitter link")

  div.switch-menu-wrapper
    svg.menu-switch.inline-svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px",     width="70px", height="70px", viewbox="0 0 32 22.5", enable-background="new 0 0 32 22.5", xml:space="preserve")
      title Mobile Menu
      g.svg-menu-toggle
        path.bar(d="M20.945,8.75c0,0.69-0.5,1.25-1.117,1.25H3.141c-0.617,0-1.118-0.56-1.118-1.25l0,0c0-0.69,0.5-1.25,1.118-1.25h16.688C20.445,7.5,20.945,8.06,20.945,8.75L20.945,8.75z")
        path.bar(d="M20.923,15c0,0.689-0.501,1.25-1.118,1.25H3.118C2.5,16.25,2,15.689,2,15l0,0c0-0.689,0.5-1.25,1.118-1.25h16.687C20.422,13.75,20.923,14.311,20.923,15L20.923,15z")
        path.bar(d="M20.969,21.25c0,0.689-0.5,1.25-1.117,1.25H3.164c-0.617,0-1.118-0.561-1.118-1.25l0,0c0-0.689,0.5-1.25,1.118-1.25h16.688C20.469,20,20.969,20.561,20.969,21.25L20.969,21.25z")
        // needs to be here as a 'hit area'
        rect(width="70", height="70", fill="none")

