extends layouts/layout

block vars
  -title = 'Homepage'
  -bodyClass = 'home'
  -menuIndex = 0

block container
  #home-slider.about
    .slider-container(data-home-slider)
      .slide(data-url="images/home-slider/slide1.jpg")
        .capture Authentic Caml Seas Cuisine
      .slide(data-url="images/home-slider/slide2.jpg")
        .capture Authentic Caml Seas Cuisine 2
      .slide(data-url="images/home-slider/slide3.jpg")
        .capture Authentic Caml Seas Cuisine 3
  #content-container.accom 
    .room-list  
      .photo-list
        .photo-wrap(data-id="1")
          h2 Deluxe room with sea view
          h3 Comfotable and welcoming
          img(src="images/pictures/room1.png", alt="calm-seas")
        .photo-wrap(data-id="2")
          h2 Suite double room 
          h3 Modern and spacious
          img(src="images/pictures/room2.png", alt="calm-seas")
        .photo-wrap(data-id="3")
          h2 Deluxe room with sea view
          h3 Comfotable and welcoming
          img(src="images/pictures/room1.png", alt="calm-seas")
        .photo-wrap(data-id="4")
          h2 Suite double room 
          h3 Modern and spacious
          img(src="images/pictures/room2.png", alt="calm-seas")
        .photo-wrap(data-id="5")
          h2 Deluxe room with sea view
          h3 Comfotable and welcoming
          img(src="images/pictures/room1.png", alt="calm-seas")
        .photo-wrap(data-id="6")
          h2 Suite double room 
          h3 Modern and spacious
          img(src="images/pictures/room2.png", alt="calm-seas")
      .information.mCustomScrollbar
        h3 Booking Policy
        p The booking will be deposited at 5% and 95% will be paid directly to the hotel on arrival . In the event of a cancellation, this deposit will be refunded when the reservation is cancelled through website and based on Booking Cancellation Policy.         
        h3 cancellation Policy 
        p Any cancellation received within 3 days prior to arrive will be incur the first night . Failure to arrive at your hotel will be treated as a No-show and no refund will be given.
        h3 Terms & Conditions 
        ul
          li - Child under 8-year old: free of charge.
          li - Child from 12-year old or extra Adult: surcharge /person/room/night
        h3 SUITE PROGRAM
        ul
          li In-suite check-in once you’re settled 
          li Bags unpacked on arrival and packed again when you leave 
          li Pressing of two garments on arrival
          li Complimentary high speed internet access and in-house movies 
          li Your choice of pillows, duvets, mattresses, cottons or linens 
          li Complimentary buffet breakfast 
        h3 HOTEL FEATURES
        ul
          li Only 20 minutes from the airport
          li Only 10 minutes from the train station
          li 5 Clefs d’Or concierges
          li 24-Hour Front Desk
          li Meeting/Banquet Facilities
          li 24-hours Business Center
          li Award-winning Ristorante Bocconi
          li The Bar Amigo
          li 24-Hour Fitness Centre
          li 40 parking spaces and valet service 
          h3 SUITE PROGRAM
        ul
          li In-suite check-in once you’re settled 
          li Bags unpacked on arrival and packed again when you leave 
          li Pressing of two garments on arrival
          li Complimentary high speed internet access and in-house movies 
          li Your choice of pillows, duvets, mattresses, cottons or linens 
          li Complimentary buffet breakfast 
        h3 HOTEL FEATURES
        ul
          li Only 20 minutes from the airport
          li Only 10 minutes from the train station
          li 5 Clefs d’Or concierges
          li 24-Hour Front Desk
          li Meeting/Banquet Facilities
          li 24-hours Business Center
          li Award-winning Ristorante Bocconi
          li The Bar Amigo
          li 24-Hour Fitness Centre
          li 40 parking spaces and valet service 
          h3 SUITE PROGRAM
        ul
          li In-suite check-in once you’re settled 
          li Bags unpacked on arrival and packed again when you leave 
          li Pressing of two garments on arrival
          li Complimentary high speed internet access and in-house movies 
          li Your choice of pillows, duvets, mattresses, cottons or linens 
          li Complimentary buffet breakfast 
        h3 HOTEL FEATURES
        ul
          li Only 20 minutes from the airport
          li Only 10 minutes from the train station
          li 5 Clefs d’Or concierges
          li 24-Hour Front Desk
          li Meeting/Banquet Facilities
          li 24-hours Business Center
          li Award-winning Ristorante Bocconi
          li The Bar Amigo
          li 24-Hour Fitness Centre
          li 40 parking spaces and valet service 
    .room-detail.r-1 
      .close-btn x
      .photo-list
        .photo-wrap
          img(src="images/pictures/furniture1.png", alt="calm-seas")
        .photo-wrap
          img(src="images/pictures/furniture2.png", alt="calm-seas")
        .photo-wrap
          img(src="images/pictures/furniture1.png", alt="calm-seas")
        .photo-wrap
          img(src="images/pictures/furniture2.png", alt="calm-seas")
        .photo-wrap
          img(src="images/pictures/furniture1.png", alt="calm-seas")
        .photo-wrap
          img(src="images/pictures/furniture2.png", alt="calm-seas")
      .information.mCustomScrollbar
        h1 Deluxe room with sea view
        p The  Deluxe Rooms  have  their own  balcony,giving the guests direct view of the NhaTrang beach . Offering a choice between  king-size and twin beds
        h3 SIZE 
        p From 30 square meters 

        h3 OCCUPANCY 
        ul
          li + 2 adults 
          li + King size bed 
          li Can be interconnected with a Deluxe room, making it ideal for families 

        h3 ROOM VIEW 
        p Overlooking the historic cobbled streets 

        h3 FACILITIES
        ul
          li Espresso machine
          li Separated living room with comfortable sofa and working desk
          li Featuring a welcoming entrance hallway with walk-un wardrobes
          li Complimentary Wi-Fi access
          li Complimentary daily newspaper upon request
          li Daily complimentary bottle of water
          li Television with interactive entertainment
          li In-room safe
          li In-room bar
          li Hairdryer
          li Ironing facilities upon request
    .room-detail.r-2 
      .close-btn x
      .photo-list
        .photo-wrap
          img(src="images/pictures/furniture1.png", alt="calm-seas")
        .photo-wrap
          img(src="images/pictures/furniture2.png", alt="calm-seas")
        .photo-wrap
          img(src="images/pictures/furniture1.png", alt="calm-seas")
        .photo-wrap
          img(src="images/pictures/furniture2.png", alt="calm-seas")
        .photo-wrap
          img(src="images/pictures/furniture1.png", alt="calm-seas")
        .photo-wrap
          img(src="images/pictures/furniture2.png", alt="calm-seas")
      .information.mCustomScrollbar
        h1 Deluxe room with sea view
        p The  Deluxe Rooms  have  their own  balcony,giving the guests direct view of the NhaTrang beach . Offering a choice between  king-size and twin beds
        h3 SIZE 
        p From 30 square meters 

        h3 OCCUPANCY 
        ul
          li + 2 adults 
          li + King size bed 
          li Can be interconnected with a Deluxe room, making it ideal for families 

        h3 ROOM VIEW 
        p Overlooking the historic cobbled streets 

        h3 FACILITIES
        ul
          li Espresso machine
          li Separated living room with comfortable sofa and working desk
          li Featuring a welcoming entrance hallway with walk-un wardrobes
          li Complimentary Wi-Fi access
          li Complimentary daily newspaper upon request
          li Daily complimentary bottle of water
          li Television with interactive entertainment
          li In-room safe
          li In-room bar
          li Hairdryer
          li Ironing facilities upon request
    .room-detail.r-3
      .close-btn x
      .photo-list
        .photo-wrap
          img(src="images/pictures/furniture1.png", alt="calm-seas")
        .photo-wrap
          img(src="images/pictures/furniture2.png", alt="calm-seas")
        .photo-wrap
          img(src="images/pictures/furniture1.png", alt="calm-seas")
        .photo-wrap
          img(src="images/pictures/furniture2.png", alt="calm-seas")
        .photo-wrap
          img(src="images/pictures/furniture1.png", alt="calm-seas")
        .photo-wrap
          img(src="images/pictures/furniture2.png", alt="calm-seas")
      .information.mCustomScrollbar
        h1 Deluxe room with sea view
        p The  Deluxe Rooms  have  their own  balcony,giving the guests direct view of the NhaTrang beach . Offering a choice between  king-size and twin beds
        h3 SIZE 
        p From 30 square meters 

        h3 OCCUPANCY 
        ul
          li + 2 adults 
          li + King size bed 
          li Can be interconnected with a Deluxe room, making it ideal for families 

        h3 ROOM VIEW 
        p Overlooking the historic cobbled streets 

        h3 FACILITIES
        ul
          li Espresso machine
          li Separated living room with comfortable sofa and working desk
          li Featuring a welcoming entrance hallway with walk-un wardrobes
          li Complimentary Wi-Fi access
          li Complimentary daily newspaper upon request
          li Daily complimentary bottle of water
          li Television with interactive entertainment
          li In-room safe
          li In-room bar
          li Hairdryer
          li Ironing facilities upon request
    .room-detail.r-4 
      .close-btn x
      .photo-list
        .photo-wrap
          img(src="images/pictures/furniture1.png", alt="calm-seas")
        .photo-wrap
          img(src="images/pictures/furniture2.png", alt="calm-seas")
        .photo-wrap
          img(src="images/pictures/furniture1.png", alt="calm-seas")
        .photo-wrap
          img(src="images/pictures/furniture2.png", alt="calm-seas")
        .photo-wrap
          img(src="images/pictures/furniture1.png", alt="calm-seas")
        .photo-wrap
          img(src="images/pictures/furniture2.png", alt="calm-seas")
      .information.mCustomScrollbar
        h1 Deluxe room with sea view
        p The  Deluxe Rooms  have  their own  balcony,giving the guests direct view of the NhaTrang beach . Offering a choice between  king-size and twin beds
        h3 SIZE 
        p From 30 square meters 

        h3 OCCUPANCY 
        ul
          li + 2 adults 
          li + King size bed 
          li Can be interconnected with a Deluxe room, making it ideal for families 

        h3 ROOM VIEW 
        p Overlooking the historic cobbled streets 

        h3 FACILITIES
        ul
          li Espresso machine
          li Separated living room with comfortable sofa and working desk
          li Featuring a welcoming entrance hallway with walk-un wardrobes
          li Complimentary Wi-Fi access
          li Complimentary daily newspaper upon request
          li Daily complimentary bottle of water
          li Television with interactive entertainment
          li In-room safe
          li In-room bar
          li Hairdryer
          li Ironing facilities upon request
    .room-detail.r-5 
      .close-btn x
      .photo-list
        .photo-wrap
          img(src="images/pictures/furniture1.png", alt="calm-seas")
        .photo-wrap
          img(src="images/pictures/furniture2.png", alt="calm-seas")
        .photo-wrap
          img(src="images/pictures/furniture1.png", alt="calm-seas")
        .photo-wrap
          img(src="images/pictures/furniture2.png", alt="calm-seas")
        .photo-wrap
          img(src="images/pictures/furniture1.png", alt="calm-seas")
        .photo-wrap
          img(src="images/pictures/furniture2.png", alt="calm-seas")
      .information.mCustomScrollbar
        h1 Deluxe room with sea view
        p The  Deluxe Rooms  have  their own  balcony,giving the guests direct view of the NhaTrang beach . Offering a choice between  king-size and twin beds
        h3 SIZE 
        p From 30 square meters 

        h3 OCCUPANCY 
        ul
          li + 2 adults 
          li + King size bed 
          li Can be interconnected with a Deluxe room, making it ideal for families 

        h3 ROOM VIEW 
        p Overlooking the historic cobbled streets 

        h3 FACILITIES
        ul
          li Espresso machine
          li Separated living room with comfortable sofa and working desk
          li Featuring a welcoming entrance hallway with walk-un wardrobes
          li Complimentary Wi-Fi access
          li Complimentary daily newspaper upon request
          li Daily complimentary bottle of water
          li Television with interactive entertainment
          li In-room safe
          li In-room bar
          li Hairdryer
          li Ironing facilities upon request
    .room-detail.r-6 
      .close-btn x
      .photo-list
        .photo-wrap
          img(src="images/pictures/furniture1.png", alt="calm-seas")
        .photo-wrap
          img(src="images/pictures/furniture2.png", alt="calm-seas")
        .photo-wrap
          img(src="images/pictures/furniture1.png", alt="calm-seas")
        .photo-wrap
          img(src="images/pictures/furniture2.png", alt="calm-seas")
        .photo-wrap
          img(src="images/pictures/furniture1.png", alt="calm-seas")
        .photo-wrap
          img(src="images/pictures/furniture2.png", alt="calm-seas")
      .information.mCustomScrollbar
        h1 Deluxe room with sea view
        p The  Deluxe Rooms  have  their own  balcony,giving the guests direct view of the NhaTrang beach . Offering a choice between  king-size and twin beds
        h3 SIZE 
        p From 30 square meters 

        h3 OCCUPANCY 
        ul
          li + 2 adults 
          li + King size bed 
          li Can be interconnected with a Deluxe room, making it ideal for families 

        h3 ROOM VIEW 
        p Overlooking the historic cobbled streets 

        h3 FACILITIES
        ul
          li Espresso machine
          li Separated living room with comfortable sofa and working desk
          li Featuring a welcoming entrance hallway with walk-un wardrobes
          li Complimentary Wi-Fi access
          li Complimentary daily newspaper upon request
          li Daily complimentary bottle of water
          li Television with interactive entertainment
          li In-room safe
          li In-room bar
          li Hairdryer
          li Ironing facilities upon request



     
       
      