extends layouts/layout

block vars
  -title = 'Homepage'
  -bodyClass = 'home'
  -menuIndex = 0

block container
  #main-slider.homepage
    .slider-container(data-home-slider)
      .slide(data-url="images/home-slider/1.jpg")
      .slide(data-url="images/home-slider/2.jpg")
      .slide(data-url="images/home-slider/3.jpg")
      .slide(data-url="images/home-slider/4.jpg")
      .slider-nav
        .arrow.prev
        .arrow.next
  #page-info
    h2 CIGAR LOUNGE
    p Die neue Cigar Lounge im Hotel Schweizerhof bietet Hotelgästen und Passanten die attraktive Möglichkeit, die 	Gastronomie und Servicequalität des Schweizerhofs in einem luxuriösen Raucherlokal zu geniessen. Das moderne und elegante Fumoir wird geprägt von einer warmen und stilvollen Atmosphäre.

