extends layouts/layout

block vars
  -title = 'Homepage'
  -bodyClass = 'home'
  -menuIndex = 0

block container
  #home-slider.homepage
    .slider-container(data-home-slider)
      .slide(data-url="images/home-slider/slide1.jpg")
      .slide(data-url="images/home-slider/slide2.jpg")
      .slide(data-url="images/home-slider/slide3.jpg")

